.new{
	width:700px;
	height:auto;
	border:1px solid black;
}
.id{
	width:50px;
	padding:5px;
}

.name{
	width:400px;
	padding-left:5px;
}
.no{
	padding:5px;
}


.totaldiv{
	margin-top:20px;
	
}
.orderDiv{
	margin-top:20px;
	margin-left:10px;
	border:0px solid black;
	font-size: 20px;
	padding-left:10px;
}
.clinic{
	font-family: Arial;
	border:0px solid black;
	text-align: center;
	font-weight:bold;
	 font-size: 35px;
	 margin-left:10px;
	 width:400px;
    font-family: Arial, Helvetica, sans-serif;
   }
.clinicold{
	font-family: Arial;
	text-align: center;
	font-weight:bold;
	 font-size: 20px;
	 margin-left:10px;
	 border:0px solid black;
	}


address {
    display: block;
    font-style: italic;
}
address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}
.text-muted {
    text-opacity: 1;
    color: #6c757d !important;
}
.text-muted {
    color: #96a2b4 !important;
    margin-bottom: 10px;
}
.m-l-5 {
    margin-left: 5px;
}
.font-bold {
    font-weight: bold;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.row{
	--bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
	width:100%;
	
}
table, th ,td {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}
.border{
	border-bottom:1px solid rgb(128, 128, 128);
}
.cb_text{
	padding-left:5px;
	padding-bottom:5px;
}
.body{
	 font-family: Arial, Helvetica, sans-serif;
	 font-size:10px;
}
.text-center {
    text-align: center !important;
}
.text-end {
    text-align: right !important;
}
.text-start {
    text-align: left !important;
}
.total{
  flex: 0 0 auto;
    width: 100%;
}
.float-end{
	float: right !important;
	margin-left:350px;
}
.m-t-30 {
    margin-top: 30px;
}

.cb_text{
	padding-left:5px;
	padding-bottom:5px;
}